{% extends "base.html" %}

{% block title %}Project{% endblock %}

{% block content %}
{% if project.cover %}
<img src="{{ project.cover.url }}" class="card-img-top" alt="...">
{% endif %}
<hr/>
<p><strong>Name:</strong> {{ project.name }}</p>
<p><strong>From:</strong> {{ project.start_date }}</p>
<p><strong>To:</strong> {{ project.end_date }}</p>
<p><strong>Client:</strong> {{ project.client.name }} {{ project.client.lastname }}</p>
<p><strong>Manager:</strong> {{ project.manager }}</p>
<p>{{ project.description | safe }}</p>
<h4>Comments:</h4>
  {% if user.is_authenticated %}
  <div class="fieldWrapper">
    <hr><br/>
    <h4>Palikite komentarą:</h4>
    <form action="" method="post">
      {% csrf_token %}
      {{ form.content }}</br>
      <input type="submit" value="Išsaugoti">
    </form>
  </div>
  {% endif %}
{% for commment in project.comments.all %}
<p>{{ commment.reviewer }}, {{ commment.date_created }}</p>
<p>{{ commment.content }}</p>
<hr/>
{% endfor %}

<h4>Jobs:</h4>
{% for job in project.jobs.all %}
<p>{{ job.title }}</p>
{% endfor %}

<h4>Invoice:</h4>
{% for invoice in project.invoices.all %}
<p>{{ invoice.date }}: {{ invoice.total }}</p>
{% endfor %}

<h4>Employees:</h4>
{% for emp in project.employees.all %}
<p>{{ emp.name }}: {{ emp.lastname }}</p>
{% endfor %}

{% if project.manager == user %}
<div>
    <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'project_update' project.id %}">Edit</a>
    <a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'project_delete' project.id %}">Ištrinti</a>
</div>
{% endif %}
<h4>Photos:</h4>
{% for photo in project.photos.all %}
<img src="{{ photo.photo.url }}" class="card-img-top" alt="...">
{% endfor %}
{% endblock %}