{% extends "base.html" %}

{% block title %}Project{% endblock %}

{% block content %}
{% if project.cover %}
<img src="{{ project.cover.url }}" class="card-img-top" alt="...">
{% endif %}
<hr/>
<p><strong>Name:</strong> {{ project.name }}</p>
<p><strong>From:</strong> {{ project.start_date }}</p>
<p><strong>To:</strong> {{ project.end_date }}</p>
<p><strong>Client:</strong> {{ project.client.name }} {{ project.client.lastname }}</p>
<p><strong>Manager:</strong> {{ project.manager }}</p>
<p>{{ project.description | safe }}</p>
<h4>Photos:</h4>
{% for photo in project.photos.all %}
<img src="{{ photo.photo.url }}" class="card-img-top" alt="...">
{% endfor %}
{% endblock %}